@model IEnumerable<WebEnterprise_1640.Models.MagazineModel>
@using WebEnterprise_1640.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Magazines";
}

@{
    var currentDateTime = DateTime.Now;
    var latestMagazines = Model.Where(m => m.Semester.FinalClosureDate > currentDateTime);
    var closedMagazines = Model.Where(m => m.Semester.FinalClosureDate <= currentDateTime);
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/nav_footer.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/magazine.css">
<link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />

<body>
    <div class="body-admin">
        <div class="left-panel">
            <button class="icon-arrow" onclick="arrow()">
                <i class="fa-solid fa-arrow-left"></i>
                <i class="fa-solid fa-arrow-right none"></i>
            </button>
            <div style="margin-bottom: 30px;"></div>

           <button class="manage" id="dashboardButton">
			<div class="account">
				<div class="icon-1">
					<i class="fa-solid fa-chart-line"></i>
				</div>
				<p>Dash board</p>
			</div>
		</button>
		<button class="manage" id="managearticlesButton">
			<div class="account">
				<div class="icon-2">
					<i class="fa-solid fa-list"></i>
				</div>
				<p>Manage Articles</p>
			</div>
		</button>
		<button class="manage" id="selectedarticlesButton">
			<div class="account">
				<div class="icon-2">
					<i class="fa-regular fa-star"></i>
				</div>
				<p>Selected Articles</p>
			</div>
		</button>
        </div>
        <div class="main-box">
            <div>
                <div class="containera mt-4">
                    <div class="row">
                        <div class="col text-center position-relative">
                            <div class="search-wrapper">
                                <input type="text" id="magazineSearch" onkeyup="searchMagazines()">
                                <i class="fa-solid fa-magnifying-glass search-icon"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <p class="latest-magazines">Latest Magazines<a href="/magazines"></a></p>
                </div>

                <div class="container mt-4">
                    <div class="row">
                        @foreach (var magazine in latestMagazines)
                        {
                            <div class="col-md-6 mb-4">
                                <div class="card magazine-card h-100">
                                    <div class="card-body">
                                        <h5 class="card-title magazine-name">
                                            <a href="/Coordinator/SelectedArticle?magazineId=@magazine.Id" class="custom-link">@magazine.Name</a>
                                        </h5>
                                        <p class="card-text">Description: @magazine.Description </p>
                                        <p class="card-text"><b>Deadline to submit: </b> @magazine.ClosureDate.ToString("MMMM-dd-yyyy h:mm tt")</p>
                                        <p class="card-text"><b>Final Deadline: </b> @magazine.Semester.FinalClosureDate.ToString("MMMM-dd-yyyy h:mm tt")</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="~/js/sidebar.js" asp-append-version="true"></script>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/magazine.js"></script>
<script src="./menu.js"></script>
<script>
    	document.getElementById("dashboardButton").addEventListener("click", function () {
			// Redirect to the Coordinator Dashboard page
			window.location.href = "/Coordinator/Dashboard";
			});
			document.getElementById("managearticlesButton").addEventListener("click", function () {
			// Redirect to the Coordinator Dashboard page
			window.location.href = "/Coordinator/Magazine";
			});
			document.getElementById("selectedarticlesButton").addEventListener("click", function () {
			// Redirect to the Coordinator Dashboard page
			window.location.href = "/Coordinator/MagazineSelected";
			});
</script>