@model WebEnterprise_1640.Models.ViewModel.RegisterVM

@{
    ViewData["Title"] = "Register";
}

<head>
    <link href="~/css/user.css" rel="stylesheet" />
    <style>
        #modalHeader, #modalBody {
            border: none;
            padding-bottom: 5px
        }
    </style>
</head>
<div class="Width" style="height:30vh">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content" style="border-radius: 10px">
                <div class="modal-header" id="modalHeader">
                    <h5 class="modal-title" id="exampleModalLabel" style="bottom:50px">Add New Account</h5>
                </div>
                <div class="modal-body" id="modalBody">
                    <form asp-action="Register" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group row mb-4">
                            <div class="col-2">
                                <label asp-for="FullName"></label>
                            </div>
                            <div class="col-4">
                                <input asp-for="FullName" class="form-control" autocomplete="username" aria-required="true" />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                            <div class="col-2">
                                <label asp-for="PhoneNumber">Phone</label>
                            </div>
                            <div class="col-4">
                                <input asp-for="PhoneNumber" class="form-control" autocomplete="username" aria-required="true" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <div class="col-2">
                                <label asp-for="Email"></label>
                            </div>
                            <div class="col-4">
                                <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col-2">
                                <label asp-for="Password"></label>
                            </div>
                            <div class="col-4">
                                <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <div class="col-2">
                                <label asp-for="FacultyId"></label>
                            </div>
                            <div class="col-4">
                                <select asp-for="FacultyId" asp-items="@Model.FacultyList" class="form-select">
                                    <option selected disabled>--Select Faculty--</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <label asp-for="Role"></label>
                            </div>
                            <div class="col-4">
                                <select asp-for="Role" asp-items="@Model.RoleList" class="form-select">
                                    <option selected disabled>--Select Role--</option>
                                </select>
                            </div>
                        </div>

                        <div class="modal-footer" style="border:none">
                            <button type="submit" class="btn btn-primary" style="background-color:#4644a0">Create</button>
                            <a asp-controller="User" asp-action="Index" class="btn btn-secondary">Close</a>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $("#exampleModal").modal('show');
        })
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
