* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

.slide1 {
    display: none;
}
.drop {
    display: none;
}
/* .slide3 {
    display: none;
} */
body {

    .search-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        .input {
            border-color: rgb(182, 182, 182);
        }

        .icon-search {
            position: absolute;
        }
    }

    .container-drop {
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 20px;

        .drop-down {
            display: flex;
            font-size: 20px;
            padding: 10px 20px;
            background-color: #cddffc;
            border-radius: 10px;
            position: relative;
            .major {
                margin-right: 10px;
            }

            ul {
                position: absolute;
                font-size: 20px;
                padding: 10px 20px;
                background-color: #cddffc;
                width: 100%;
                left: 0;
                top:36px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                li {
                    margin-top: 10px;
                }
            }
        }

        .drop-down:hover {
            cursor: pointer;
        }
    }

    .magazine-container {

        .slideshow-container-3,
        .slideshow-container-2,
        .slideshow-container-1 {
            position: relative;
            display: grid;
        }
    }

    .slide3,
    .slide1,
    .slide {
        display: none;
        border: 1px solid rgb(184, 184, 184);
        border-radius: 5px;
    }

    .prev,
    .next {
        position: absolute;
        transform: translateY(-50%);
        cursor: pointer;
        color: white;
        font-weight: bold;
    }

    .prev {
        color: black;
    }

    .next {
        color: black;
    }

}

/* Laptop */
@media screen and (min-width:1025px) {
    body {
        .search-container {
            .input {
                padding: 5px;
                padding-left: 50px;
                border-radius: 50px;
            }

            .icon-search {
                padding-right: 170px;
            }
        }

        .magazine-name {
            padding: 20px 60px;
        }

        .magazine-container {

            .slideshow-container-3,
            .slideshow-container-2,
            .slideshow-container-1 {
                padding: 0px 50px;
                margin: auto;
                gap: 10px;
                grid-template-columns: repeat(3, 1fr);
            }
        }
        a {
            text-decoration: none !important;
            color: black;
        }
        .slide3,
        .slide1,
        .slide {
            padding: 10px;
            margin: 20px;
            border-radius: 10px;
            

            .img-magazine {
                height: 300px;
                width: 100%;
            }

            .title-magazine {
                font-size: 25px;
                font-weight: bold;
                margin-top: 10px;
            }

            .description-magazine {
                font-size: 20px;
                margin-top: 10px;
            }

            .read-more {
                margin-top: 10px;
            }
        }
        .slide3,
        .slide1,
        .slide:hover {
            cursor: pointer;
        }
        .prev,
        .next {
            top: 50%;
            font-size: 20px;
        }

        .prev {
            left: 30px;
        }

        .next {
            right: 30px;
        }

    }
}

/* Tablet */
@media screen and (min-width:741px) and (max-width:1024px) {
    body {
        .search-container {
            .input {
                padding: 5px;
                padding-left: 50px;
                border-radius: 50px;
            }

            .icon-search {
                padding-right: 170px;
            }
        }

        .magazine-name {
            padding: 20px 50px;
        }

        .magazine-container {

            .slideshow-container-3,
            .slideshow-container-2,
            .slideshow-container-1 {
                padding: 0px 20px;
                margin: auto;
                grid-template-columns: repeat(2, 1fr);
            }
        }

        .slide3,
        .slide1,
        .slide {
            padding: 10px;
            margin: 10px 5px;
            border-radius: 10px;

            .img-magazine {
                height: 250px;
                width: 100%;
            }

            .title-magazine {
                font-size: 23px;
                font-weight: bold;
                margin-top: 10px;
            }

            .description-magazine {
                font-size: 17px;
                margin-top: 10px;
            }

            .read-more {
                margin-top: 10px;
            }
        }

        .prev,
        .next {
            top: 50%;
            font-size: 20px;
        }

        .prev {
            left: 10px;
        }

        .next {
            right: 10px;
        }

    }
}

/* Mobile */
@media screen and (max-width:740px) {
    body {
        .search-container {
            .input {
                padding: 5px;
                padding-left: 50px;
                border-radius: 50px;
            }

            .icon-search {
                padding-right: 170px;
            }
        }

        .magazine-name {
            padding: 20px 20px;
        }

        .magazine-container {

            .slideshow-container-3,
            .slideshow-container-2,
            .slideshow-container-1 {
                padding: 0px 20px;
                margin: auto;
                grid-template-columns: repeat(2, 1fr);
            }
        }

        .slide3,
        .slide1,
        .slide {
            padding: 5px;
            margin: 5px;
            border-radius: 5px;

            .img-magazine {
                height: 150px;
                width: 100%;
            }

            .title-magazine {
                font-size: 13px;
                font-weight: bold;
                margin-top: 5px;
            }

            .description-magazine {
                font-size: 10px;
            }

            .read-more {
                margin-top: 5px;
                font-size: 10px;
            }
        }

        .prev,
        .next {
            top: 50%;
            font-size: 15px;
        }

        .prev {
            left: 10px;
        }

        .next {
            right: 10px;
        }

    }
}