@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Mulish", sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

.background {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.overlay{
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.4;
}

.discover {
    padding: 5px 15px;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-weight: 500;
    font-size: 35px;
    position: absolute;
    border-radius: 5px;
    text-decoration: none !important;
    cursor: pointer;
}

.discover:hover{
    border: 2px solid white;
    color: black;
    background: white;

}
/* Laptop */
@media screen and (min-width:1025px) {
    .home-cover {
    }
    body {
        .background

{
    height: 100vh;
    .discover

{
    bottom: 200px;
    left: 50px;
}

}
}
}

/* Tablet */
@media screen and (min-width:741px) and (max-width:1024px) {
    body {
    }

    .background {
        height: 70vh;
    }

    .discover {
        bottom: 250px;
        left: 40px;
    }
}

/* Mobile */
@media screen and (max-width:740px) {
    body {
    }

    .background {
        height: 50vh;
    }

    .discover {
        font-size: 20px;
        top: 200px;
        left: 30px;
    }
}
