.select-container {
    position: relative;
    display: flex;
    align-items: center;
}

.select-wrapper {
    position: relative;
    width: 100%;
}

.select-container select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
    padding-right: 30px;
    border: none;
    border-radius: 8px;
    outline: none;
    width: 100%;
    cursor: pointer;
}

.arrow-down {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

    .arrow-down i {
        color: #333;
    }
.count-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.count {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.count-box {
    border-radius: 15px;
}

/* Mobile */
@media screen and (max-width: 740px) {
    .count-box {
        width: calc(100% - 20px);
        max-width: none;
        margin: 10px 0;
    }

    .chart-container {
        flex-direction: column;
        align-items: center;
    }

    .chart-wrapper {
        width: calc(100% - 20px);
        max-width: 600px;
        margin: 10px 0;
    }
}
