* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Mulish", sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

body {
    .body-content

{
    padding: 60px;
    .search

{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    .search-panel

{
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px;
    border-color: gray;
}

}

.magazine-title {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #cddffc;
    padding: 10px;
    font-weight: bold;
    margin-top: 60px;
}

.magazine-1 {
    display: grid;
    margin: 30px 0px;
    .magazine-content

{   
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0px;
    .title

{
    font-weight: bold;
}

.content {
    margin-top: 10px;
}

.time {
    margin: 10px;
}

}
}
}
}



/* Laptop */
@media screen and (min-width:1025px) {

    body {
        .body-content

{
    .magazine-title {
        font-size: 35px;
                    }
    .search-wrapper

{
    position: relative;
    display: inline-block;
    width: 300px;
}

#magazineSearch {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 40px 10px 20px;
    outline: none;
    width: 100%;
    max-width: 600px;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

    .search-icon::before {
        content: "\1F50D";
        font-size: 15px;
    }

.magazine-card {
    margin-bottom: 20px;
    border-radius: 10px;
}

.containera {
    color: #000;
    padding: 10px;
    display: block;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 1040px;
}
    padding: 60px;
    .magazine-1

{
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    .magazine-content

{
    .title

{
    font-size: 35px;
}

.content {
    font-size: 25px;
}

.time {
    font-size: 22px;
    .deadline

{
    display: flex;
    .deadline-1

{
    margin-right: 10px;
    font-weight: bold;
}

}

.final-deadline {
    display: flex;
    .final-deadline-1

{
    margin-right: 10px;
    font-weight: bold;
}

}
}
}
}

.search {
    .search-panel

{
    width: 400px;
}

}
}
}
}

/* Tablet */
@media screen and (min-width:741px) and (max-width:1024px) {
    body {
        .body-content

{
    .magazine-title

{
    font-size: 27px;
}
    .search-wrapper

{
    position: relative;
    display: inline-block;
    width: 300px;
}

#magazineSearch {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 40px 10px 20px;
    outline: none;
    width: 100%;
    max-width: 600px;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

    .search-icon::before {
        content: "\1F50D";
        font-size: 15px;
    }

.magazine-card {
    margin-bottom: 20px;
    border-radius: 10px;
}

.containera {
    color: #000;
    padding: 10px;
    display: block;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 1040px;
}
    padding: 30px;
    .magazine-1

{
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    .magazine-content

{
    .title

{
    font-size: 25px;
}

.content {
    font-size: 12px;
}

.time {
    font-size: 20px;
    .deadline

{
    .deadline-1

{
    margin-right: 10px;
    font-weight: bold;
    padding: 5px;
}

}

.final-deadline {
    .final-deadline-1

{
    margin-right: 10px;
    font-weight: bold;
    padding: 5px;
}

}
}
}
}

.search {
    .search-panel

{
    width: 300px;
}

}
}
}
}


/* Mobile */
@media screen and (max-width:740px) {
    body {
        .body-content

{
    .magazine-title

{
    font-size: 23px;
}
    .search-wrapper

{
    position: relative;
    display: inline-block;
    width: 300px;
}

#magazineSearch {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 40px 10px 20px;
    outline: none;
    width: 100%;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

    .search-icon::before {
        content: "\1F50D";
        font-size: 15px;
    }

.magazine-card {
    margin-bottom: 20px;
    border-radius: 10px;
}

.containera {
    color: #000;
    padding: 10px;
    display: block;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 1040px;
}
    padding: 20px;
    .magazine-1

{
    grid-template-columns: repeat(1, 1fr);
    .magazine-content

{
    .title

{
    font-size: 23px;
}

.content {
    font-size: 17px;
}

.time {
    font-size: 17px;
    .deadline

{
    .deadline-1

{
    margin-right: 10px;
    font-weight: bold;
}

}

.final-deadline {
    .final-deadline-1

{
    margin-right: 10px;
    font-weight: bold;
}

}
}
}
}

.search {
    .search-panel

{
    width: 200px;
}

}
}
}
}