@media only screen and (max-width: 740px) {
    .modal-content {
        width: 350px;
        margin-left: auto;
        margin-right: auto
    }

    .pb-3 {
        margin-left: auto;
        margin-right: auto;
        font-size: 75%;
    }

        .pb-3 .Width {
            width: 400px;
        }

        .pb-3 .FontSize {
            font-size: 7px;
        }

    .Filter {
        font-size: 10px;
    }

    #createBtn {
        font-size: 8px;
    }

    .form-input {
        margin: 0;
        height: 35px;
        text-indent: 30px;
        font-size: 8px;
        padding: 5px 5px 5px 9px;
    }

    .search-wrapper {
        position: relative;
        width: 100px;
    }
}

@media only screen and (min-width: 1025px) {
    #createBtn {
        font-size: 10px;
    }

    .form-input {
        font-size: 15px;
        box-sizing: border-box;
        margin: 15px auto;
        padding: 8px 8px 8px 12px;
    }

    .search-wrapper {
        position: relative;
        display: inline-block;
        width: 300px;
    }

    #search {
        border: 1px solid #ccc;
        border-radius: 20px;
        padding: 10px 40px 10px 20px;
        outline: none;
        width: 100%;
        max-width: 600px;
    }

    .search-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
    }

        .search-icon::before {
            content: "\1F50D";
            font-size: 15px;
        }
}
