@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/index_css.css" asp-append-version="true" />

<div class="background container-fluid">
    <button class="discover"> Discover now</button>
</div>

