
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/delete confirm.css" asp-append-version="true" />
</head>
<body>
    <div class="body-admin">
        <div class="show-modal-delete none">
            <div class="panel">
                <div class="img-delete">
                    <img src="https://freepngtransparent.com/wp-content/uploads/2023/03/X-Png-136.png" alt="">
                </div>
                <h2>Are you sure?</h2>
                <p>You will not be able to recover anymore !</p>
                <div class="deleted" onclick="closemodal_()">
                    <button class="del">Delete</button>
                    <button class="can">Cancel</button>
                </div>
            </div>
        </div>
        <div class="icon-up-de">
            <div onclick="deletel()" class="icon-delete">
                <i class="fa-solid fa-trash"></i>
            </div>
        </div>
    <script src="~/js/delete confirm.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
