@model WebEnterprise_1640.Models.MagazineModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/css/faculty.css" rel="stylesheet" />
    <style>
        #modalHeader, #modalBody {
            border: none;
            padding-bottom: 5px
        }
    </style>
</head>
<div class="Width">
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="border-radius: 10px">
                <div class="modal-header text-center d-block" id="modalHeader">
                    <img src="https://res.cloudinary.com/dokzmffiv/image/upload/v1713567602/remove_k83ipd.png" style="width:150px; height:150px; bottom:20px" />
                </div>
                <div class="modal-body text-center d-block" id="modalBody">
                    <form asp-action="Delete" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure?</h1>
                        <h6 class="modal-title" id="exampleModalLabel">You will not be able to recover anymore!</h6>

                        <div class="modal-footer text-center d-block" style="border:none">
                            <button type="submit" class="btn btn-primary" style="background-color:#da4453">Delete</button>
                            <a asp-action="Index" asp-controller="Magazine" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#exampleModal2").modal('show');
        })
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
